[Unit]
Description=Nunux Keeper job worker daemon
After=docker.service
After=docker.service redis.service mongodb.service elasticsearch.service
Requires=docker.service redis.service mongodb.service elasticsearch.service
PartOf=keeper-core-api.service

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
OnFailure=unit-status-mail@%n.service
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p \
    --volume=/var/opt/keeper-core-api:/var/opt/app \
    --env-file /etc/environment \
    --env-file /etc/default/keeper-core-api \
    --env-file /etc/default/keeper-core-api_custom \
    --link mongodb:mongodb \
    --link redis:redis \
    --link elasticsearch:elasticsearch \
    --label traefik.enable=false \
    ncarlier/keeper-core-api run job-worker
ExecStop=/usr/bin/docker stop %p

